/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* 固定值響應式必寫語法 */
*,*:after,*:before {
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
}
/* 清除選定格式 */
textarea:focus, input:focus{
    outline: none;
}
/* Reset end */
/* 漸層效果 */
body {
    min-height: 100vh;
    background: #eee;
    display: flex;
    color: #333;
    background-image: linear-gradient(
        174deg,
        #ffd370 2%,
        #ffd370 46%,
        #fff 46%,
        #fff 100%,
        #e8e8e8 100%
    );
    letter-spacing: 0.07em;
}
.bg-yellow {
    /* background-color: #FFFFD370; */
    margin: 0 auto;
}
.container {
    max-width: 476px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ================= Seciton 1 ================= */
.main h1 {
    font-family: "Baloo Tamma 2";
    color: #000;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 48px;
    margin-top: 26px;
}
.input-column {
    width: 500px;
    display: flex;
    align-items: center;
    padding-right: 4px;
    padding-left: 24px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
}
.main input {
    width: 450px;
    font-size: 24px;
    margin-bottom: 8px;
    height: 48px;
    text-decoration: none;
    margin: 0 auto;
    /*  清除 input border line */
    border-style: none;
}
.btn__add {
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 10px;
    text-align: center;
    background: #333;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}
@media(max-width: 768px){
    .input-column {
        max-width: 351px;
    }
}
/* ================= Seciton 2 ================= */
.menu {
    background-color: #fff;
    margin-top: 8px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
}
.tab {
    display: flex;
    justify-content: space-around;
    /* 自適應寬度 */
    width: 100%;
    height: 51.5px;
    text-align: center;
    
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}
.tab li {
    /* 相對 padding */
    padding: 1rem;
    /* 寬度全部 */
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 2px solid #efefef;
}
/* 選過的 link 下面有黑槓 */
.tab li.active {
    border-bottom: 2px solid #333;
    color: #333;
    font-weight: bold;
}
@media(max-width: 768px){
    .menu {
        max-width: 351px;
    }
}
/* ================= Seciton 3 ================= */
.list {
    width: 100%;
}
.list li {
    position: relative;
    padding-right: 2rem;
    width: 100%;
}
@media (max-width: 575px) {
    .list li {
        padding-right: 0;
    }
}
.list a {
    position: absolute;
    /* opacity: 0; */
    right: 5%;
    top: 40%;
    /* transform: translateY(-50%); */
    text-decoration: none;
    color: #333;
    display: block;
    /* background: #000; */
    /* background-image: url("https://i.imgur.com/7Q4RjFx.jpg");
    background-size: contain; */
}
.list label {
    /* background-color: pink; */
    width: 100%;
}
.checkbox {
    position: relative;
    user-select: none;
    width: 100%;
    display: block;
    padding-left: 44px;
    cursor: pointer;
    /* color: black; */

}
.checkbox span {
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
    line-height: 1.5;
}
@media (max-width: 575px) {
    .checkbox span {
        padding-right: 1rem;
    }
}
.checkbox input {
    position: absolute;
    top: 30%;
    /* left: 0; */
    right: 91%;
    /* opacity: 0; */
    cursor: pointer;
    display: block;
    height: 20px;
    width: 20px;
    margin: 0;
}
.cross-line {
    text-decoration: line-through;
}