body{
  font-family: $font-family-base;
  color: $text-color;
}
.header {
  a{ 
  width: 500px;
  color: $link-color;
  }
  h1{
    font-size: $font-l;
  }
}
.content a{
  color: $link-color;
}
.content h2{
  font-family: $font-family-title;
}

.footer a{
  color: $link-color;
}