/* ================== Section 2 ==================*/
.brown-1 {
    height: 52px !important;
    margin-bottom: 80px;
}
.brown-1 .menu ul {
    display: flex;
    height: 52px;
    align-items: center;
}
.brown-1 .menu li {
    font-size: 20px;
    line-height: 30px;
    font-family: "SF Pro Text";
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
    margin-right: 28px;
}
/* ================== Section 3 ==================*/
.product-top-row-1 {
    display: flex;
}
.product-top-row-1 .list {
    display: flex;
    flex-direction: column;
}
.product-top-row-1 img {
    display: block;
    height: 255px !important;
    width: 255px !important;
    margin-right: 30px;
}
.product-top-row-1 ul {
    margin-bottom: 58px;
}
.product-top-row-1 .list__subtitle {
    font-size: 24px;
    font-weight: bold;
}
.product-top-row-1 .list__link {
    text-decoration: none;
}
.product-top-row-1 .list__link i {
    text-decoration: none;
    color: #916019;
    width: 20px;
    height: 18.35px;
    margin-right: 8px;
}
.product-top-row-1 li {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 3px;
}
.product-top-row-1 span {
    color: #8D8D8D;
    margin-left: 8px;
    text-decoration: line-through;
}

@media(max-width: 768px){
    .brown-1 {
        display: none;
    }
    .product-top-row-1 {
        width: 345px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product-top-row-1 img {
        height: 165px !important;
        width: 165px !important;
        margin-right: 0px;
        margin-bottom: 2px;
    }
    .product-top-row-1 ul {
        margin-bottom: 30.65px;
    }
}