// 顏色變數
$link-color: #ff0000;
// 數字變數
$font-l: 18px;
$font-m: 16px - 3px;
// 字串變數
$font-family-base: "Helvetica, Arial, sans-serif";
$font-family-title: "monospace";
body {
    font-family: $font-family-base;
}
.header a {
    width: 500px;
    color: $link-color;
    font-size: $font-m;
}
.header h1 {
    font-size: $font-l;
}
.content h2 {
    font-family: $font-family-title;
}
.footer {
    color: $link-color;
}